[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
twitter = "*"
tweepy = "*"
newspaper3k = "*"
mysqlclient = "*"
rosette_api = "*"

[dev-packages]

[requires]
python_version = "3.6"
